@model BookStoreMVC.Models.ChuDe

@{
    ViewBag.Title = "Themmoichude";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">THÊM MỚI CHỦ ĐỀ</h2>

@using (Html.BeginForm("Themmoichude", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true)
    <p style="color:red;text-align:center">@ViewBag.Thongbao</p>
    <div class="form-group">
        @Html.LabelFor(model => model.TenChuDe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenChuDe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenChuDe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div style="text-align:center">
    @Html.ActionLink("Về trang quản lý chủ đề", "Chude")
</div>
