@model BookStoreMVC.Models.TacGia

@{
    ViewBag.Title = "Xoatacgia";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3 style="text-align:center">Bạn quyết định xóa tác giả này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên tác giả :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTG)
        </dd>

        <dt>
            Địa chỉ :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Tiểu sử :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuSu)
        </dd>

        <dt>
            Điện thoại :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="text-align:center" class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ", "Tacgia")
        </div>
    }
</div>
